---
layout: paper.njk
title: Mysteries of the Arcana - Archive
---

<h1>Comics</h1>

<table>
<tr><th>Title</th><th class="hide-mobile">Author</th><th class="hide-mobile">Artist</th><th>Date</th></tr>
{% for comic in collections.comics %}
  <tr><td><a href="{{ comic.url }}">{{ comic.data.title }}</a></td>
  <td class="hide-mobile">{{ comic.data.author }}</td><td class="hide-mobile">{{ comic.data.artist }}</td>
  <td >{{ comic.data.date }}</td>
  </tr>
{% endfor %}
</table>

<h1>Blog Posts</h1>

<table>
<tr><th>Title</th><th class="hide-mobile">Author</th><th>Date</th></tr>
{% for post in collections.posts %}
  <tr><td><a href="{{ post.url }}">{{ post.data.title }}</a></td>
  <td class="hide-mobile">{{ post.data.author }}</td><td>{{ post.data.date }}</td>
  </tr>
{% endfor %}
</table>