---
layout: base.njk
permalink: index.html
---

{% set latestComic = collections.comics | reverse | first %}

{% include "comic-nav.njk" %}

<article class="comic">
    {% Image "comics/" + latestComic.fileSlug, alt %}
</article>

{% include "comic-nav.njk" %}