{% set latestComic = collections.comics | reverse | first %}

<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}" />
        <link rel="stylesheet" href="/theme/style.css" rel="preload">
        <link rel="alternate" href="/feeds/feed.xml" type="application/atom+xml" title="{{ metadata.title }}" />
        <link rel="alternate" href="/feeds/arcanarss.xml" type="application/rss+xml" title="{{ metadata.title }}" />
        <link rel="alternate" href="/feeds/feed.json" type="application/json" title="{{ metadata.title }}" />
        {% if author %}<meta name="author" content="{{ author }}">{% endif %}
        {% if artist %}<meta name="artist" content="{{ artist }}">{% endif %}
        <meta name="date" content="{{ date or latestComic.data.date }}">
        {% if page.nextUrl %} <link rel="prefetch" href="{{ page.nextUrl }}" /> {% endif %}
        <meta property="og:site_name" content="{{ metadata.title }}" />
    </head>
    <body bgcolor="#000">
        <header class="logo-container">
            <img src="/theme/motalogo.png" alt="Mysteries of the Arcana logo" />
        </header>
        {{ content | safe }}
        <footer>Copyright 2008 - 2014 by J Gray</footer>
    </body>
</html>
