<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}" />
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}" />
        <link rel="alternate" href="/feed/rss.xml" type="application/rss+xml" title="{{ metadata.title }}" />
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}" />
        <link rel="stylesheet" href="/theme/style.css" />
    </head>
    <body bgcolor="#000">
        <div class="outer-wrapper">
            <header class="logo-container">
                <center>
                    {% image "/theme/motalogo.png", "Mysteres of the Arcana Logo" %}
                </center>
            </header>
            <div class="content-area">
                {{ content | safe }}
            </div>
            <footer>Copyright 2008 - 2014 by J Gray</footer>
        </div>
    </body>
</html>
