---
layout: base.njk
---
{% set comics = collections.comics %}

{% set currentIndex = -1 %}
{% for comic in comics %}
    {% if comic.url === page.url %}
        {% set currentIndex = loop.index0 %}
    {% endif %}
{% endfor %}

{% set next = null %}
{% if currentIndex < comics.length - 1 %}
  {% set next = comics[currentIndex + 1] %}
{% endif %}

{% set currentComic = comics[currentIndex] %}
{% set currentComicDate = currentComic.data.date %}

{% if next %}
  {% set nextComicDate = next.data.date %}
{% else %}
  {% set nextComicDate = null %}
{% endif %}

{% setPageVar 'nextUrl' %}{{ next.url }}{% endsetPageVar %}

<div class="hide-mobile">{% include "comic-nav.njk" %}</div>

<div class="content-h">
    {% include "site-nav.njk" %}
    <article class="comic">
        {% if next %}<a href="{{ next.url }}">{% endif %}
        {% Image "content/comics/" + page.fileSlug, alt %}
        {% if next %}</a>{% endif %}
    </article>
</div>

{% include "comic-nav.njk" %}

{% set filteredPosts = collections.posts | filterPostsByDate(currentComicDate, nextComicDate) %}

<div class="content-v">
    {% for post in filteredPosts %}
        <article class="post">
            <h1 class="posttitle">{{ post.data.title }}</h1>
            <div class="postmeta">
                Published on: <span class="date">{{ post.date | date() }}</span> | 
                Author: <span class="author">{{ post.data.author }}</span>
            </div>
            <div class="post-content">
                {{ post.templateContent | safe }}
            </div>
        </article>
    {% endfor %}
</div>