{% set comics = collections.comics %}

{% if latestComic %}
    {% set currentIndex = comics.indexOf(latestComic) %}
{% else %}
    {% set currentIndex = -1 %}
    {% for comic in comics %}
      {% if comic.url === page.url %}
        {% set currentIndex = loop.index0 %}
      {% endif %}
    {% endfor %}
{% endif %}

{% set prev = null %}
{% set next = null %}

{% if currentIndex > 0 %}
  {% set prev = comics[currentIndex - 1] %}
{% endif %}

{% if currentIndex < comics.length - 1 %}
  {% set next = comics[currentIndex + 1] %}
{% endif %}

{% set first = comics[0] %}
{% set last = comics[comics.length - 1] %}

<nav class="comic-nav">
<ul>
    <li><a href="{{ first.url }}" class="navfirst {% if prev %}navhasfirst{% endif %}">First</a></li>
    <li><a href="{{ prev.url }}" class="navprev {% if prev %}navhasprev{% endif %}">Previous</a></li>
    <li><a href="#" class="navarchive">Archive</a></li>
    <li><a href="{{ next.url }}" class="navnext {% if next %}navhasnext{% endif %}">Next</a></li>
    <li><a href="{{ last.url }}" class="navlast {% if next %}navhaslast{% endif %}">Last</a></li>
</ul>
</nav>
