---
layout: base.njk
---
{% set comics = collections.comics %}

{% if latestComic %}
    {% set currentIndex = comics.indexOf(latestComic) %}
{% else %}
    {% set currentIndex = -1 %}
    {% for comic in comics %}
      {% if comic.url === page.url %}
        {% set currentIndex = loop.index0 %}
      {% endif %}
    {% endfor %}
{% endif %}

{% set next = null %}
{% if currentIndex < comics.length - 1 %}
  {% set next = comics[currentIndex + 1] %}
{% endif %}


{% include "comic-nav.njk" %}

<article class="comic">
    {% if next %}<a href="{{ next.url }}">{% endif %}
    {% Image "comics/" + page.fileSlug, alt %}
    {% if next %}</a>{% endif %}
</article>

{% include "comic-nav.njk" %}