{% set posts = collections.posts %}

{% set currentIndex = -1 %}
{% for post in posts %}
  {% if post.url === page.url %}
    {% set currentIndex = loop.index0 %}
  {% endif %}
{% endfor %}

{% set prev = null %}
{% set next = null %}

{% if currentIndex > 0 %}
  {% set prev = posts[currentIndex - 1] %}
{% endif %}

{% if currentIndex < posts.length - 1 %}
  {% set next = posts[currentIndex + 1] %}
{% endif %}

{% set first = posts[0] %}
{% set last = posts[posts.length - 1] %}

<nav class="comic-nav">
<ul>
    <li><a href="{{ first.url }}" class="navfirst {% if prev %}navhasfirst{% endif %}" aria-label="First post">First</a></li>
    <li><a href="{{ prev.url }}" class="navprev {% if prev %}navhasprev{% endif %}" aria-label="Previous post">Previous</a></li>
    <li><a href="/archive" class="navarchive" aria-label="Archive">Archive</a></li>
    <li><a href="{{ next.url }}" class="navnext {% if next %}navhasnext{% endif %}" aria-label="Next post">Next</a></li>
    <li><a href="{{ last.url }}" class="navlast {% if next %}navhaslast{% endif %}" aria-label="Last post">Last</a></li>
</ul>
</nav>
