{% set Posts = collections.Posts %}

{% set currentIndex = -1 %}
{% for post in Posts %}
  {% if post.url === page.url %}
    {% set currentIndex = loop.index0 %}
  {% endif %}
{% endfor %}

{% set prev = null %}
{% set next = null %}

{% if currentIndex > 0 %}
  {% set prev = Posts[currentIndex - 1] %}
{% endif %}

{% if currentIndex < Posts.length - 1 %}
  {% set next = Posts[currentIndex + 1] %}
{% endif %}

{% set first = Posts[0] %}
{% set last = Posts[Posts.length - 1] %}

<nav class="comic-nav">
<ul>
    <li><a href="{{ first.url }}" class="navfirst {% if prev %}navhasfirst{% endif %}">First</a></li>
    <li><a href="{{ prev.url }}" class="navprev {% if prev %}navhasprev{% endif %}">Previous</a></li>
    <li><a href="/archive" class="navarchive">Archive</a></li>
    <li><a href="{{ next.url }}" class="navnext {% if next %}navhasnext{% endif %}">Next</a></li>
    <li><a href="{{ last.url }}" class="navlast {% if next %}navhaslast{% endif %}">Last</a></li>
</ul>
</nav>
