---
layout: paper.njk
---

<div class="postheader">
    <h1 class="posttitle">{{ title }}</h1>
    <div class="postmeta">Published on: <span class="date">{{ date }}</span> | Author: <span class="author">{{ author }}</span></div>
</div>
<div class="post-content">
    {{ content | safe }}
</div>
