<div class="site-nav">
    <ul>
        <li><a href="/" class="navhome">Home</a></li>
        <li><a href="/about" class="navabout">About</a></li>
        <li><a href="/cast" class="navcast">Cast</a></li>
        <li><a href="#" class="navforum hide-mobile">Forum</a></li>
        <li><a href="/art" class="navart">Art</a></li>
        <li><a href="/extras" class="navextras">Extras</a></li>
        <li><a href="/links" class="navlinks">Links</a></li>
        <li><a href="http://amzn.com/B00S7LB620" class="navstore">Store</a></li>
        <li><a href="#" class="navadmin hide-mobile">Admin</a></li>
    </ul>
</div>